body, html {
    height: 100%;
}

.parallax {
    background-image: url('img/mainimg.jpg');
    height: 20%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background-image: url('img/fullimg1.jpg');

}

.contenu{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn{
    background-color:     #c9184e;
    color: #ffff;
    letter-spacing: 5px;
}

h2{
    margin: 20px 0px;
    color:#ff6665 !important;
}

h1{text-shadow: 0 -4px 0 #ff4045;}

.bouton {
    padding: 20px;
    margin: 10px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: white;

}

.row{
    margin-top:70px ;
}

