@font-face {
    font-family: 'moon_flowerregular';
    src: url('moon_flower-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

header {
    border-bottom: 1px dotted #ccc;
    padding: 20px
}

h2 {
    margin: 20px 0px;
}

.firstscreen {
    margin: 20px;
}

.introduction {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding-top: 25px;
}

.introduction img {
    height: auto;
    width: 80%;
    border: solid 1px;
    margin: auto;
}

.introduction h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'moon_flowerregular';
    font-size: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.presentation {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

.nutrition-img {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.bouton {
    margin: 10px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: white;
}

form {
    width: 60%;
}